body{
  margin: 0;
  font-family: 'Rubik', sans-serif;
  height:500px;
}
h4{
  font-weight: 500;
  margin-bottom: 0;
  font-size:13px;
  color:white;
}
h5{
  color:#f5f3f7;
  font-weight:400;
  margin-top: 0;
  font-size:10px;
}
.pp{
  float:left;
  height:20px;
  width:20px;
  border-radius:20px;
  border-width: 1.5px;
  border-style:solid;
  border-color:#f5f3f7;
  position: relative;
  left: 35px;
  bottom: 12px;
}
.noch
{
  background-color:white;
   height: 19px;
   width:133px;
   border-radius: 0 0 13px 13px;
  position: relative;
  left: 50px;
}
.name{
  position: relative;
  bottom:15px;
  left:48px;
}
.pos{
  position: relative;
  top:7px;
  left:20px;
  font-weight: 700;
}
.title{
  background: linear-gradient(to left, hsl(293, 100%, 63%) 0%,hsl(264, 100%, 61%) 100%);
  height: 70px;
  border-radius:30px 30px 0 0;
  position: relative;
  bottom: 70px;
}
.gradient{
    height:600px;
    width: 430px;
    background: linear-gradient(to bottom, hsl(293, 100%, 63%) 0%,hsl(264, 100%, 61%) 100%);
    border-radius: 0 0 210px 210px;
    position: relative;
    right: 80px;
}
.mobile{
  background-color:#f5f3f7;
  height: 380px;
  width: 235px;
  border-radius:0 0 30px 30px;
  position: relative;
  bottom: 450px;
  left: 250px;
  z-index: 2;
}
.mobilelayer{
  background-color:white;
  height: 470px;
  width: 255px;
  border-radius: 30px;
  position: relative;
  bottom: 910px;
  left: 240px;
  box-shadow: 0 5px 10px 0 hsl(270, 7%, 64%);
  z-index: 1;
}
p{
  margin-left: 5px;
}
.chat1{
  background-color: white;
  font-size: 10px;
  color:hsl(276, 55%, 52%);
  width: 67%;
  text-align: left;
  padding: 0.5px;
  border-radius: 10px;
  position: relative;
  left: 5px;
  bottom: 50px;
}
.chat2{
  background-color: white;
  font-size: 10px;
  color:hsl(276, 55%, 52%);
  width: 67%;
  text-align: left;
  padding: 0.8px;
  border-radius: 10px;
  position: relative;
  left: 5px;
  bottom: 45px;
}
img{
  width: 50px;
  border-radius: 10px;
}
.chat3{
  position: relative;
  left:70px;
  bottom:32px;
}
.chat4{
  background-color: white;
  font-size: 10px;
  color:black;
  width: 67%;
  text-align: left;
  padding: 0.8px;
  border-radius: 10px;
  position: relative;
  left: 70px;
  bottom: 22px;
  box-shadow: 0 3px 3px 0 hsl(206, 6%, 79%) ;
}
.chat5{
  background-color: white;
  font-size: 10px;
  color:black;
  width: 67%;
  text-align: left;
  padding: 0.8px;
  border-radius: 10px;
  position: relative;
  left: 70px;
  bottom: 15px;
  box-shadow: 0 3px 3px 0 hsl(206, 6%, 79%) ;
}
.chat6{
  background: linear-gradient(to right, hsl(293, 100%, 63%) 10%,hsl(264, 100%, 61%) 100%);
  width: 68%;
  height:36px;
  font-size: 12px;
  color: white;
  text-align: left;
  padding: 0.8px;
  border-radius: 10px 10px 10px 0;
  position:relative;
  left: 6px;
  bottom:8px;
}
.b{
  font-size: 16px;
  position: relative;
  bottom: 33px;
  left: 120px;
}
.chat7{
  color: hsl(206, 6%, 79%) ;
  background-color:white;
  width: 90%;
  height:36px;
  border-radius: 20px;
  position: relative;
  left: 10px;
  bottom: 14px;
  font-size: 13px;
}
.heading{
  width: 30%;
  height: 150px;
  position: absolute;
  left:600px;
  bottom: 300px;
}
